html, body {
    margin: 20px;
}

li:not(#foo) input[type='checkbox'] {
    display: none;
}

li:not(#foo) label {
    margin: 0;
    clear: none;
    padding: 50px 0 50px 100px;
    cursor: pointer;
    background: url('lightswitch-off.png') left center no-repeat;
}

li:not(#foo) label.on {
    background-image: url('lightswitch-on.png');
}

li.on {
    background-color: yellow;
    color: gray;
  }

